/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.callout {
  margin: 1em auto 0;
  color: #434343;
  text-align: center;
}

.response-container {
  background-image: image-url("eye-roll.png");
  background-position: center;
  background-size: 16em;
  background-repeat: no-repeat;
}

.none-left {
  background-image: image-url("sad-face.jpg");
  background-position: center;
  background-size: 10em;
  min-height: 16em;
  background-repeat: no-repeat;
}

#response-code {
  -webkit-animation: rotation 12s infinite linear;
  font-family: 'Space Mono', monospace;
  font-size: 2.25rem;
}

#whats-next {
  color: #434343;
  font-family: "Andale Mono";
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  margin-top: 1rem;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

h2 {
  color: #434343;
  font-family: "Press Start 2P";
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  margin: 1em;
}

h1 {
  color: #434343;
  font-family: "Press Start 2P";
  font-size: 4em;
  line-height: 1em;
  text-align: center;
  margin-bottom: 1em;
}

h1.three {
  margin-bottom: .5em;
}

#level-2 {
  display: block;
  margin: auto;
  width: 30rem;
}

.form-container {
  margin: 1.5em auto;
  width: 20rem;
}

#email-input,
#click-me {
  font-family: 'Space Mono', monospace;
  font-size: 1.25em;
  padding: .75rem 1rem;
  height: auto;
  width: 100%;
}

#click-me {
  width: 20rem;
  line-height: 1.5em;
  background-color: #00CDED;
  color: #FFF;
  border-top: 1px solid #00CDED;
  border-bottom: 1px solid #00CDED;
}
